---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import apoteket from "../assets/images/apoteket.jpg";
import arbejde from "../assets/images/arbejde.jpg";
import glitch from "../assets/images/glitch.jpg";
import godtarbejde from "../assets/images/godt-arbejde.jpg";
import lidtifem from "../assets/images/lidtifem-pierre-falcke.jpg";
import smena from "../assets/images/lomo-smena-17.jpg";
import overouticm from "../assets/images/over-out-icm.jpeg";
import pierre from "../assets/images/pierre.jpeg";
import tyndfilm from "../assets/images/tynd-film.jpg";
import lomo from "../assets/images/canon-eos-300-gammel-film.jpg";
import lomo2 from "../assets/images/lomo-smena.jpg";
import "../styles/tobii.min.css";
---

<MainLayout
  title="Uperfekt er perfekt - En artikel om Pierre Falcke"
  description="Artikel om Pierre Falcke"
  ogtitle="Uperfekt er perfekt"
  ogdescription="En kort artikel om Pierre Falcke"
>
  <div class="progress-bar h-4 fixed w-full bg-gradient-to-r from-blue-500 to-blue-300 left-0 origin-top-left top-0 right-0"></div>

  <section id="lydeffekter" class="" x-data>
    <audio x-ref="trykforatafspillelyd">
      <source src="/pixel.mp3" type="audio/mpeg" />
    </audio>

    <section id="hero" class="video-container w-screen overflow-hidden z-0" id="hero-section">
      <div class="text-center w-full">
        <video class="fixed top-0 left-0 w-full h-full object-cover -z-10" autoplay muted loop>
          <source src="pierre-falcke-video.mp4" type="video/mp4" />
        </video>

        <!-- Text overlay div -->

        <div class="flex flex-col items-center justify-center text-white p-80">
          <h1 id="h1" class="text-5xl md:text-8xl font-bold pb-16" @click="$refs.trykforatafspillelyd.play()">Uperfekt er perfekt</h1>

          <h2 id="h2" class="text-2xl md:text-4xl" @click="$refs.trykforatafspillelyd.play()">En artikel om Pierre Falcke</h2>
        </div>
      </div>
    </section>
  </section>

  <article id="info" class="p-4 bg">
    <section class="max-w-xl sm:max-w-3xl mx-auto my-8 sm:my-28 prose p-4 sm:p-8 bg-gray-200" id="manchet">
      <div class="flex flex-col sm:flex-row gap-4 sm:gap-12">
        <div class="group sm:w-2/3">
          <a href="pierre.jpeg" class="lightbox">
            <Image
              src={pierre}
              alt=""
              class="w-full transition duration-300 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 group-hover:scale-110"
            />
            <figcaption class="text-center">Pierre Falcke, selvportræt</figcaption>
          </a>
        </div>
        <div class="sm:w-2/3">
          <p class="text-sm sm:text-lg mb-4 sm:mb-8">
            Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året
            rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne
            ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
          </p>
        </div>
      </div>
    </section>
  </article>

  <section class="banner whitespace-nowrap overflow-x-hidden bg-gradient-to-r from-blue-300 to-blue-500 text-white py-2 sm:py-4 z-10">
    <div class="text-sm sm:text-base inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-3 sm:[&_span]:mx-6">
      <span>Pierre sælger 2 millioner fotos om året</span>
      <span>Det svarer til én fotolicens hvert 16. sekund</span>
      <span>Du ser hans fotos ca. 2 gange om dagen</span>
      <span>Pierre sælger 2 millioner fotos om året</span>
      <span>Det svarer til én fotolicens hvert 16. sekund</span>
      <span>Du ser hans fotos ca. 2 gange om dagen</span>
      <span>Pierre sælger 2 millioner fotos om året</span>
      <span>Det svarer til én fotolicens hvert 16. sekund</span>
      <span>Du ser hans fotos ca. 2 gange om dagen</span>
    </div>
  </section>
  <!-- Sticky Parallax Sections -->
  <section>
    <div
      id="stock"
      class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0 stickyparallax1"
      style="background-image: url('/arbejde.jpg')"
    >
      <div
        class="cursor-handcursor w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-white hover:bg-blue-500 hover:text-white hover:transition duration-300 bg-opacity-50 backdrop-blur-md"
      >
        <h2 class="text-2xl font-bold">Hvad er stock-fotos?</h2>
        <p class="text-xl">
          Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites.
        </p>
      </div>
    </div>

    <div
      class="cursor-handcursor flex items-center h-screen w-100 bg-cover bg-center sticky top-0 stickyparallax2"
      style="background-image: url('/apoteket.jpg')"
    >
      <p
        class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-white hover:bg-blue-500 hover:text-white hover:transition duration-300 bg-opacity-50 backdrop-blur-md text-xl"
      >
        Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen.
      </p>
    </div>

    <div
      class="cursor-handcursor flex items-center h-screen w-100 bg-cover bg-center sticky top-0 stickyparallax3"
      style="background-image: url('/godt-arbejde.jpg')"
    >
      <p
        class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-white hover:bg-blue-500 hover:text-white hover:transition duration-300 bg-opacity-50 backdrop-blur-md text-xl"
      >
        Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra.
      </p>
    </div>
  </section>
  <section id="beroemmelse" class="max-w-3xl mx-auto mt-28 p-8 prose bg-gray-200" id="pierresberoemmelse">
    <h2 class="text-4xl">Pierres berømmelse</h2>
    <p>
      Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den
      digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op
      gennem gymnasietiden.
    </p>
    <p>
      Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny
      verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil.
    </p>
    <p>
      På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men
      de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke
      hopper med på den digitale vogn, lukker.”
    </p>
    <p>
      Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj
      industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.
    </p>
    <p>
      Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med
      studiet på DMJX.
    </p>
  </section>
  <section id="skillevej" class="max-w-3xl mx-auto mt-28 p-8 prose bg-gray-200">
    <div class="max-w-3xl mx-auto prose">
      <h2 class="text-4xl">En skillevej</h2>
      <p>
        Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde
        ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe
        stock-fotos, og vende tilbage til rødderne.
      </p>
      <p>
        Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe
        sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
      <div>
        <a href="glitch.jpg" class="lightbox">
          <Image
            src={glitch}
            alt="glitch kunst"
            class="image my-0 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 transition duration-300 hover:scale-105"
          />
          <figcaption>Glitch kunst</figcaption>
        </a>
      </div>
      <div>
        <a href="lomo-smena-17.jpg" class="lightbox">
          <Image
            src={smena}
            alt="smena kunst"
            class="image my-0 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 transition duration-300 hover:scale-105"
          />
          <figcaption>Dobbelteksponering med Smena</figcaption>
        </a>
      </div>
    </div>
    <div class="max-w-3xl mx-auto prose">
      <p>
        Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte
        sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.
      </p>
    </div>
  </section>
  <section class="max-w-3xl mx-auto my-28 prose p-8 text-black">
    <h2 class="text-4xl text-white">Fotoeksperimenter</h2>
    <div class="overflow-x-scroll">
      <ul class="flex md:h-[20vw] list-none sticky md:top-[10vh]">
        <li class="min-w-[80vw] md:min-w-[50vw] flex flex-col items-center p-4">
          <figure class="flex flex-col max-w-[700px]">
            <h3 class="text-xl text-black bg-gray-200 py-3 px-8">Analog fotografering</h3>
            <p class="bg-gray-200 p-8">
              Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på
              filmruller og vintage-kameraer skyder i vejret.
            </p>
          </figure>
        </li>
        <li class="min-w-[80vw] md:min-w-[50vw] flex flex-col items-center p-4">
          <figure class="flex flex-col max-w-[700px]">
            <h3 class="text-xl text-black bg-gray-200 py-3 px-8">Glitch art</h3>
            <p class="bg-gray-200 py-3 px-8">
              Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe
              kunst.
            </p>
          </figure>
        </li>
        <li class="min-w-[80vw] md:min-w-[50vw] flex flex-col items-center p-4">
          <figure class="flex flex-col max-w-[700px]">
            <h3 class="text-xl text-black bg-gray-200 py-3 px-8">Lomografi</h3>
            <p class="bg-gray-200 py-3 px-8">
              Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet.
            </p>
          </figure>
        </li>
      </ul>
    </div>
  </section>

  <section id="nybegyndelse">
    <div class="max-w-3xl mx-auto my-28 prose bg-gray-200 p-8">
      <h2 class="text-4xl">En ny begyndelse</h2>
      <p>
        Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på
        fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde.
        Som Pierre selv udtrykker det: <span class="italic"
          >“Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye
          visuelle udtryk. Det uperfekte er perfekt.”</span
        >
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
        <div>
          <a href="over-out-icm.jpeg" class="lightbox">
            <Image
              src={overouticm}
              alt=""
              class="image my-0 transition duration-300 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 hover:scale-105"
            />
            <figcaption>Overeksponeret og ude af fokus</figcaption>
          </a>
        </div>
        <div>
          <a href="tynd-film.jpg" class="lightbox">
            <Image
              src={tyndfilm}
              alt=""
              class="image my-0 transition duration-300 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 hover:scale-105"
            />
            <figcaption>Overeksponeret og ude af fokus</figcaption>
          </a>
        </div>
      </div>
    </div>
    <div class="max-w-3xl mx-auto my-28 prose bg-gray-200 p-8">
      <p>
        Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog
        med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af
        bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.
      </p>
      <p>
        Som Pierre forklarer det: <span class="italic"
          >“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.”</span
        >
      </p>
      <div>
        <a href="lidtifem-pierre-falcke.jpg" class="lightbox">
          <Image
            src={lidtifem}
            alt=""
            class="my-0 hover:filter hover:sepia hover:saturate-200 hover:hue-rotate-180 transition duration-300 hover:scale-105"
          />
          <figcaption>Lidt i fem - ny bog af Pierre Falcke</figcaption>
        </a>
      </div>
    </div>
  </section>
</MainLayout>
<script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script>
<script>
  import { animate, scroll, inView } from "motion";

  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
    target: document.querySelector(".stickyparallax1"),
  });
  scroll(animate(".stickyparallax2", { y: [-300, 0] }), {
    target: document.querySelector(".stickyparallax2"),
  });
  scroll(animate(".stickyparallax3", { y: [-300, 0] }), {
    target: document.querySelector(".stickyparallax3"),
  });
</script>
